<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <meta name="description" content="Henrik Höglund is a Product Designer based in Stockholm Sweden.">
    <meta name="author" content="Henrik Höglund">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <title>Henrik Höglund - Designer</title>
    <script type="text/javascript" src="js/bundle.js"></script>
<script>
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-38299675-1']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.henrikhoglund.se/build/js/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>

</head>
<body>
