@@include('./partials/header.html')

<section>
  <div class="header">
    <div class="cover falsterboCover">
      @@include('./partials/menu.html')
      <div class="arrow-container">
        <div class="arrow bounce"></div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="small">
    <div class="row">
      <div class="large-12">
        <h2>Falsterbo Horseshow - 2015</h2>
        <h3>Falsterbo Horsehow is one of the biggest outdoor festivals in Sweden with over 60.000 visitors. Their existing app was outdated and needed a makeover. One of our major challenges was the lack of iOS programming skills, since none of us had worked with this language.</h3>
      </div>
  </div>
</section>

<section class="grey">
  <div class="row set-padding">
      <img src="public/images/falsterboPhones.png"/>
  </div>
</section>

<section>
    <div class="small">
      <div class="row">
        <div class="large-12">
          <h3>Throughout the project, we worked with the Minimum Viable Product in mind. The focus was to create a clear visual design that the user would recognize instantly. We had the core focus creating a great looking, stable App with offline compatibility.
To create more engagement with the visitors, we added a section for social media. This section displays content from popular social media channels tagged with the event’s official hashtag.</h3>
        </div>
      </div>
    </div>
</section>

@@include('./partials/footer.html')
