@@include('./partials/header.html')

<section>
  <div class="header">
    <div class="cover heinekenCover">
      @@include('./partials/menu.html')
      <div class="arrow-container">
        <div class="arrow bounce"></div>
      </div>
    </div>
  </div>
</section>

  <section>
    <div class="small grey">
      <div class="row">
        <div class="large-12 columns">
          <h2>Heineken - International</h2>
          <h3>I worked on the #ChampionsTheMatch campain for Heineken. I make alot of images for the social channels like Twitter Facebook and for heiniken.com.
        I worked with the visual design. My job was to visualise the location that the famous fotball player would tweet from.
        The initial design was made by <a href="http://www.jennyjohannesson.com/">Jenny Johannesson.</a>
          </h3>
        </div>
    </div>
  </section>

  <section>
    <a href="https://vimeo.com/127256040">
      <img src="public/images/garcia.jpg">
    </a>
  </section>

  <section>
      <img src="public/images/heinekenTwitter.jpg">
  </section>

@@include('./partials/footer.html')
