@@include('./partials/header.html')
<div class="mainContainer">

  <a href="heineken.html">
    <div class="image-element">
      <h2>Heineken</h2>
        <div class="image-holder heinekenCover"></div>
    </div>
  </a>

  <a href="mcdonalds.html">
    <div class="image-element">
      <h2>McDonalds</h2>
        <div class="image-holder mcdonaldsCover"></div>
    </div>
  </a>

  <a href="falsterbo.html">
    <div class="image-element">
      <h2>Falsterbo</h2>
        <div class="image-holder falsterboCover"></div>
    </div>
  </a>


</div><!--Container-->
@@include('./partials/footer.html')
