@@include('./partials/header.html')

<section>
  <div class="header">
    <div class="cover laddkollCover">
      @@include('./partials/menu.html')
      <div class="arrow-container">
        <div class="arrow bounce"></div>
      </div>
    </div>
  </div>
</section>

  <section>
    <div class="small grey">
      <div class="row">
        <div class="large-12 columns">
          <h2>Laddkoll</h2>
          <h3>Sweden’s largest marketplace for electric car charging. Laddkoll helps electric car drivers finding the nearest charging station. A common issue for EV drivers is range anxiety. Laddkoll gathers all public charging stations in Sweden. In the app can the user connect the car to the station, charge and pay all though the app. I created all off the design for the app.

</h3>
          </h3>
        </div>
    </div>
  </section>

  <section class="border">
    <div class="row small-padding">
      <div class="large-6 columns">
        <img src="public/images/iphone-2.png">
      </div>

      <div class="medium-6 column small-padding">

      </div>

    </div>
  </section>

  <section>
    <div class="small grey">
      <div class="row">
        <div class="large-12 columns">
          <img src="public/images/laddkollApp.png">
        </div>
      </div>
    </div>
  </section>

@@include('./partials/footer.html')
