@@include('./partials/header.html')

<section>
  <div class="header">
    <div class="cover mcdonaldsCover">
      @@include('./partials/menu.html')
      <div class="arrow-container">
        <div class="arrow bounce"></div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="small grey">
    <div class="row">
      <div class="large-12">
        <h2>McDonald's - Netherland</h2>
        <h3>Working for McDonalds Netherlands together with the content and community team at DDB Tribal Worldwide. I worked with the visual design
        for the Facebook page and the main site. Creating Facebook post and coverphotos. I made in total over 40 posts.</h3>
      </div>
    </div>
  </div>
</section>

<div class="fb-posts">
  <div class="row">
    <div class="large-6 medium-push-6 columns">
      <img src="public/images/111.jpg">
      <img src="public/images/shadow.png">
    </div>

    <div class="large-6 medium-pull-6 columns set-padding postCenter">
      <h3>Bacon Clubhouse</h3>
      <h4>National cup finale turned the bacon clubhouse box into a mini clubhouse.</h4>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <img src="public/images/222.jpg">
      <img src="public/images/shadow.png">
    </div>

    <div class="large-6 columns set-padding postCenter">
      <h3>Math Exams</h3>
      <h4>McDonalds created a text question for the up and coming national math exams.</h4>
    </div>
  </div>

  <div class="row">
    <div class="large-6 medium-push-6 columns">
      <img src="public/images/333.jpg">
      <img src="public/images/shadow.png">
    </div>

    <div class="medium-6 medium-pull-6 column set-padding postCenter">
      <h3>McFlurry 15 Years</h3>
      <h4>McFlurry turned 15, Fans could vote back a previous flavour. Generated over 40000 likes.</h4>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <img src="public/images/444.jpg">
      <img src="public/images/shadow.png">
    </div>

    <div class="large-6 columns set-padding postCenter">
      <h3>Champions League Final</h3>
      <h4>The Dubble Cheese grand deluxe was in the spotlight during the UCL finale.</h4>
    </div>
  </div>

  <div class="row">
    <div class="large-6 medium-push-6 columns">
      <img src="public/images/555.jpg">
      <img src="public/images/shadow.png">
    </div>

    <div class="large-6 medium-pull-6 columns postCenter">
      <h3>Family Day</h3>
      <h4>Visual all made from a blank document. Competition to win a family dinner.</h4>
    </div>
  </div>
</div><!--fbpost-->

<section>
  <figure class="cd-image-container">
  	<img src="public/images/before.jpg" alt="Original Image">

  	<div class="cd-resize-img"> <!-- the resizable image on top -->
  		<img src="public/images/after.jpg" alt="Modified Image">
  	</div>

  	<span class="cd-handle"></span>
  </figure> <!-- cd-image-container -->
</section>


<script src="js/jquery-2.1.1.js"></script>
<script src="js/jquery.mobile.custom.min.js"></script> <!-- Resource jQuery -->
<script src="js/main.js"></script> <!-- Resource jQuery -->


<section>
    <div class="small grey">
      <div class="row">
        <div class="large-12 columns">
          <h3>This is an example of the work that can go in to a Facebook post. To promote the new bacon clubhouse hamburger, did we take advantage of
          the cupfinal of between two teams from the Neatherland. Creating a fotball clubhouse made from the hamburgerbox, with the fotball fans gathering around.</h3>
        </div>
      </div>
    </div>
</section>

<section>
  <div class="row set-padding">
    <img src="public/images/mcdfb.jpg">
  </div>
</section>

@@include('./partials/footer.html')
